
body {
    font-family: Playfair Display, sans-serif;
    font-style: solid #FFFFFF;
    color:#FFFFFF;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f40000;

    
}

h1 {
    color: #ffffff;
    font-family: Playfair Display;
    font-size: 60px;
}

p {
    color: #ffffff;
    font-family: Playfair Display;

}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


.flashing-background {
    
    animation: flashingBackground 2s infinite;
    padding: 50px; /* add padding to make the background more visible */
    
}

@keyframes flashingBackground {
    0% { background-color: red; }
    25% { background-color: blue; }
    50% { background-color: yellow; }
    75% { background-color: blue; }
    100% { background-color: yellowgreen; }
}